#root {
  margin: 0 auto;
  padding: 0;
  background-color: #F4DFCE;
}
* {
  font-family: sans-serif;
}
/*  #0E1C25 azul oscuro */
/* #F4DFCE rosa claro*/
/* #163C51 celeste oscuro*/ 
/* #DBB0A1 rosa viejo claro*/
/* #AB8494 rosa viejo oscuro*/
/* #313131 gris oscuro */